.app-check {
  width: 20px;
  height: 20px;
  margin: 1%;
}

.errmsg {
  color: red;
}

.navbar-link {
  text-decoration: none;
  color: white;
}

.navbar-link:hover {
  opacity: 0.7;
  transition: ease-in-out;
}

#gender-field {
  display: flex;
  padding: 0 5px;
  gap: 0.3rem;
}

#buttons {
  background: #34487a;
  padding: 7px;
  border: 20px;
  color: rgb(255 255 255);
  font-family: sans-serif;
  font-size: 16px;
}
