.app-check {
  width: 20px;
  height: 20px;
  margin: 1%;
}

.errmsg {
  color: red;
}

.navbar-link {
  text-decoration: none;
  color: white;
}

.navbar-link:hover {
  opacity: 0.7;
  transition: ease-in-out;
}

#gender-field {
  display: flex;
  padding: 0 5px;
  gap: 0.3rem;
}

#buttons {
  background: #34487a;
  padding: 7px;
  border: 20px;
  color: rgb(255 255 255);
  font-family: sans-serif;
  font-size: 16px;
}

.alert {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.apply-job-button {
  background-color: #5e709c !important;
  color: white !important;
  font-size: 20px !important;
  border-radius: 10px !important;
}

.rating {
  display: flex;
  align-items: center;
}
